doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Untitled
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
        script(src='components/jquery/dist/jquery.min.js')
        link(href='components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css')
        script(src='components/bootstrap/dist/js/bootstrap.min.js')
        block css

    body
        block content
        block scripts
        
        
        
        
